<h1>Add a new item</h1>
<form action="/insert_item" method="post">
  <div>
    <label for="query_link_url">Link URL</label>
    <input type="text" id="query_link_url" name="query_link_url" placeholder="Enter a URL...">
  </div>
  <div>
    <label for="query_link_description">Link Description</label>
    <input type="text" id="query_link_description" name="query_link_description" placeholder="Enter a link description...">
  </div>
  <div>
    <label for="query_thumbnail_url">Thumbnail URL</label>
    <input type="text" id="query_thumbnail_url" name="query_thumbnail_url" placeholder="Enter a thumbnail URL...">
  </div>
  <button type="submit">Create item</button>
</form>
